/*


@font-face {
    font-family: "Curve";
    src: url('../font/LearningCurve.ttf') format("truetype");
}

h1 {
    font-family: Loveland;
    font-size: 45px;
    color: rebeccapurple;
}

body {
    background: lavender url("../img/nurse.png") no-repeat;
    background-size: 400px;
}

#heading {
    text-align: center;
}

#slogan {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#mail-content {
    font-family: Curve;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid gray;
    padding: 6px;
    width: 650px;
    text-align: center;
    margin: 6px auto;
    background-color: lightskyblue;
}*/
