<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/mail.css">
    <link rel="icon" href="../img/red-cross.ico">
    <title>Bienvenue !</title>
</head>
<body>
    <div id="heading">
        <h1>Carelearning</h1>
        <p id="slogan"><i><b>In nurse we trust</b></i></p>
    </div>
    <div id="mail-content">
        <p>Bonjour {{ username }} !</p>
        <p>Toute l'équipe de Carelearning est heureuse de vous compter parmi ses membres! <br/>
            Voici un mot de passe qu'il vous faudra <u>impérativement</u> changer lors de votre
            première connexion dans un soucis de confidentialité.<br/><br/>

            {{ password }}<br/><br/>

            Carelearning vous propose un large choix d'exercises, mais également de leçons pour mieux vous préparer à vos examens
            et réviser vos acquis.<br/><br/>

            A très bientôt sur notre application mobile!

            <i><b></b></i>
        </p>
    </div>

    <div id="mail-image">

    </div>
</body>


</html>